.hide{display: none}
.margin-right-15{margin-right:15px;}
.margin-top-20{margin-:20px;}
.name{background-color: #f9d3bc}
.section-approval{border-bottom:solid 2px #98a099;}
.form-status-begin{}
.bkg-blue{background-color: #f4f9ff}
.margin-top-10{margin-top:10px;}
.preview{
	border: solid 1px #dbdbdb; 
	margin-top: 25px;
	padding: 40px 40px 0px 40px;
}

.preview-title {
	margin-top: 25px;
    margin-bottom: -15px;	
}

.margin-top-8{margin-top:8px;}

.fl-checkbox-left{float:left; min-width:200px;}
.fl-checkbox-right{float:right; min-width:225px;}
.clear-both{clear:both;}

.fl-checkbox-left input[type='checkbox'], .fl-checkbox-right input[type='checkbox'] {
	margin-right: 10px;
}

.fl-checkbox-left .checkbox-label, .fl-checkbox-right .checkbox-label{
	display: inline-block;
    margin-top: 5px;
}

.margin-left-10{
	margin-left:10px;
}

.margin-top-20{
	margin-top:20px
}


